.landingCSS {
    width: 100%;
    height: 700px;
    margin-top: 30px;
    background-color: #fff;
    background-size: auto 650px;
}


.mailChimpForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.frame {
    /* margin-top: 5%; */
    width: 100%;
    height: 35%;
    /* padding: 2rem 1rem; */
    background-size: 100%;
    background-repeat: no-repeat;

    background-image: url("../../assets/images/backgrounds/DottedLineGraphicred.png");
    /* background-image: -webkit-linear-gradient(left, 
        rgba(255, 255, 255, 0.9) 0%, 
        rgba(255, 255, 255, 0) 20%,
        rgba(255, 255, 255, 0) 80%,
        rgba(255, 255, 255, 0.9) 100%
    ),
    url("../../assets/images/backgrounds/DottedLineGraphicred.png"); */
    background-image: -webkit-linear-gradient(top, 
        /* rgba(255, 255, 255, 0.9) 0%,  */
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 1) 100%
    ),
    url("../../assets/images/backgrounds/DottedLineGraphicred.png");
}

div.formContainer button {
    background-color: #00205B;
    color: #ffffff;
    border: none;
    position: relative;
    padding: 11px 11px;
    border-radius: 5px;
    font: inherit;
    font-weight: bold;
    box-shadow: none;
    width: 35%;
}

div.formContainer button:hover {
    background-color: #16498c;
    color: #ffffff;
}

div.formContainer input {
    box-shadow:  0.5px 0.5px #7474742f;
    border: 0.1px solid #747474;
    position: relative;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 3%;
    border-radius: 5px;
    font: inherit;
    font-weight: bold;
    width: 62%;
}

div.formContainer p {
    display: block;
    color: #000000 !important;
    font: inherit;
    font-size: 12px;
    font-weight: bold;
}

.div1 {
    display: flex;
    text-align: left;
    padding-right: auto;
    padding-top: 50px;
}

.div2 {
    padding-top: 35px;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.div3 {
    display: none;
}

.mobileBG {
    width: 350px;
    display: block;
    margin: 0 auto;
}

.qhacksWord{
    padding-bottom: 10px;
    padding-right: 10px;
    width: 280px;
}

.logo{
    padding-bottom: 20px;
    padding-left: 10px;
    width: 140px;
}

.information{
    z-Index: 2;
    color: #000000;
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 0px;
    word-break: normal;
}

.information2{
    z-Index: 2;
    color: #000000;
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    word-break: normal;
    display: none;
}

.tagline{
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 30px;
    word-break: normal;
}

.contentWrapper {
    /* max-width: 1400px; */
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}


@media screen and (max-width: 450px) {
    .landingCSS {
        height: 650px;
        margin-top: 0px;
        background: none;
    }
    .frame {
        height: 50%;
        margin-top: 5%;
    }
    .landingGraphic {
        display: none;
    }
    .div3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        display: none;
    }
    .information{
        display: none;
    }
    .information2{
        display: block;
    }
    .div2{
        display: none;
    }
} 


@media screen and (max-width: 1000px) {
    .landingCSS {
        height: 550px;
        margin-top: 0px;
    }
    .frame {
        height: 20%;
        margin-top: 5%;
    }
    .mobileBG{
        display: none;
    }
    .landingGraphic {
        display: none;
    }
    .div3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        display: none;
    }
    .information{
        overflow-wrap: normal;
    }
    /* .contentWrapper{
        padding-left: 5%;
        padding-right: 5%;
    } */
    .mailChimpForm {
        width:350px;
    }
    .div2{
        display: none;
    }
} 

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .landingCSS {
        background-size : auto 550px;
        margin-top: 20px;
    }
    .landingGraphic {
        width: 500px;
        height: 280px;
        /* display: none; */
    }
    /* .div3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    .information{
        overflow-wrap: normal;
    } 
    .div1 {
        justify-content: center;
    }
    /* .div2{
        display: none;
    } */
} 




