.contactUsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    

}

.contactUsForm label {
    font-size: large;
    font-family: Encode Sans ebold; 
    color: #00205B;
    width: 80px;
}

.contactTextField {
    height: 30px;
    /* width: 100%; */
    min-width: 360px;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.contactUsForm textarea{
    height: 150px;
}

.contactUsForm ul input{
    font-size: small;
    font-family: Encode Sans ebold;
    padding:5px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

.contactUsForm ul input :enabled {
    color: #00205B;
}

.contactUsForm ul input :disabled {
    color: #666666;
}

.field {
    display: flex;
    margin-top: 5px;
    margin-bottom: 20px;


}
@media screen and (max-width: 850px) {

    .contactUsForm {
        width: 90%;    
    }
    .fields {
        width: 100%; 
    }
    .field {
        flex-direction: column;
    }
    .contactTextField {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {

    .contactUsForm {
        width: 90%;    
    }
    .fields {
        width: 100%; 
    }
    .field {
        flex-direction: column;
    }
    .contactTextField {
        width: 100%;
    }
}