.App {
  margin: 0;
}


/* Replaced this with the NavbarElements styling */
.App-header { 
  font-family: "Encode Sans sbold";
  background-color: #fff;
  font-variant: small-caps;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}

.sidePadding {
  padding: 0.5rem calc((100vw - 1200px) /2);
}

.fullscreen {
  min-height: calc(100vh - 80px - 175px);
}

@media screen and (max-width: 1200px) { 
  .sidePadding{
    padding: 0 1rem;
  }
}



html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: "Encode Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  height: 1vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

