.App {
  margin: 0%;
}


/* Replaced this with the NavbarElements styling */
.App-header { 
  font-family: "Encode Sans sbold";
  background-color: #fff;
  font-variant: small-caps;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
