@font-face {
  font-family: "Encode Sans bold";
  font-display: swap;
  src: local("Encode Sans"), url("./assets/fonts/EncodeSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Encode Sans ebold";
  font-display: swap;
  src: local("Encode Sans"), url("./assets/fonts/EncodeSans-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Encode Sans med";
  font-display: swap;
  src: local("Encode Sans"), url("./assets/fonts/EncodeSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Encode Sans reg";
  font-display: swap;
  src: local("Encode Sans"), url("./assets/fonts/EncodeSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Encode Sans sbold";
  font-display: swap;
  src: local("Encode Sans"), url("./assets/fonts/EncodeSans-SemiBold.ttf");
  font-weight: 600;
}
